<section class="mt-5">
	<h2 class="fw-bold text-center mb-4">SERVICIOS</h2>
	<div class="d-flex justify-content-center align-items-center services">
			<ng-container *ngFor="let servicio of serviciosVisibles">
				<div class="mx-2 mb-3 text-center">
					<div class="service-icon bg-primary rounded-4 d-flex justify-content-center align-items-center">
						<i class="bi {{servicio.icono}} text-white" style="font-size: 120px;"></i>
					</div>
					<div class="mt-2 fw-medium">{{servicio.nombre}}</div>
				</div>
				<a class="btn btn-primary btn-sm" [routerLink]="rutaServicio">Ver detalle</a>
			</ng-container>
	</div>
</section>
<!-- Sección de slideshow de servicios -->
